<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559550843585-dqpmkp22dmlsp4412mm52qkjk6i5gbmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559550843585-dqpmkp22dmlsp4412mm52qkjk6i5gbmc</string>
	<key>API_KEY</key>
	<string>AIzaSyD6qb5QCMNjH-SNnypklBI-hMUXBwmYDPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>559550843585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tamAppV2</string>
	<key>PROJECT_ID</key>
	<string>t-a-m-ua-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>t-a-m-ua-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559550843585:ios:b9f89b1b520f9feea72240</string>
	<key>DATABASE_URL</key>
	<string>https://t-a-m-ua-v2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>